@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* HEADER */

header {
  padding: 1rem 0;

  background-color: #335f6f;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

/* ESTILOS BOTON VOLVER */

ul li {
  margin: 0rem 2rem;
  list-style: none;
}

.btn-volver {
  transition: 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.btn-volver:hover {
  transition: 0.3s;
  background-color: gray;
}

/* ESTILOS SECCION PRODUCTOS */

.texto-principal{
  margin-top: 1rem;
  text-align: center;

  color: #335f6f;
}

.seccion_productos{
  display: flex;
  justify-content: center;
}

/* PRODUCTOS */

.contenedor_productos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.contenedor_producto{
  padding: 0.5rem 0.5rem;
  margin: 1rem 0.5rem;
  width: 30%;
}

.img_producto{
  display: flex;
  justify-content: center;
  height: 80%;
}

img{
  object-fit: contain;
  width: 100%;
  height: 100% ;
}

h2{
  font-size: 16px;
  
}

h3{
  font-size: 12px;
  color: gray;
}

.ver_mas{
  text-decoration: none;
  color: #335f6f;
}


@media only screen and (max-width: 600px){

  .contenedor_producto{
    width: 60%;
  } 

  .img_producto{
    height:60% ;
  }
}
