@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* HEADER */

header {
  padding: 1rem 0;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

ul {
  margin: 0 2rem;
}

li {
  display: inline-block;
}

header ul li a {
  margin: 0 1rem;
  padding: 0.5rem 1rem;

  text-decoration: none;
  color: gray;
}

header ul li a:hover {
  color: black;
  border-bottom: 1px solid black;
}

/* MESSAGE */

h1{
  margin-top: 2rem;
  text-align: center;
}

.message{
  margin-top: 2rem;
  text-align: center;
}

/* FORMULARIO */

.contenedor_form {
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

input {
  border: none;
  outline: none;

  font-size: 24px;

  border-radius: 10px;

  padding: 0.5rem 2rem;
  background-color: white;
  margin: 0rem 2rem;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);

}


@media only screen and (max-width: 600px) {


  input{
    font-size: 16px;
  }

  .btn-modificar{
    margin-top: 1rem;
  }

  .btn_agregar{
    margin-top: 1rem;
  }
}
