@font-face {
  font-family: 'Airbnb';
  src: url('AirbnbCereal_W_Md.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Airbnb';
}


/* GENERAL ESTILOS */
header a{
  transition: 0.5s;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  color: #2D5C74;
}

header a:hover{
  color: black;
  transition: 0.5s;
  border-bottom: 1px solid black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;

  background-color: orange;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

header div {
  display: inline-block;
}

header ul li {
  margin: 0px 1rem;
  display: inline-block;
}

.ver_mas{
  color: gray;
  text-decoration: none;
}

.ver_mas:hover{
  color: black;
  border-bottom: 1px solid black;
}

.buscar-input {
  padding: 0.5rem 1rem;
  width: 25%;
  border: 1px solid black;
  border-radius: 15px;
  outline: none;
}

.buscar-input:focus{
  border-color: #2D5C74;
}

/* LOGO SUPLYMAX */

.img_logo-container{
  list-style: none;
  width: 25%;
  height: 50px;
  margin: 0 1rem;
}

.img_logo-container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* CATEGORIAS */
aside {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

aside h2 {
  margin: 0 5px;
}

aside h2 a {
  transition: 0.5s;
  color: gray;
  text-decoration: none;
  font-size: 20px;
}

aside h2 a:hover{
  transition: 0.5s;
  color: black;
  border-bottom: 1px solid gray;
}

/* CARTA PRODUCTO */

.contenedor_productos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 6rem;
}

.producto_container{
  list-style: none;
}

.img-product{
  width: 150px;
  height: 150px;

  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75) inset;
}

img{
  object-fit: contain;
  width:100%;
  height:100%;
}

.n_producto, .p_producto{
  color: black;
  font-size: 16px;
}

.c_producto, .d_producto, .d_producto{
  color: gray;
  font-size: 12px;  
}

footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 750px) {
  
  /* .img_logo-container{
    width: 30px;
    height: 30px;
  } */
  
  header ul li{
    font-size: 12px;
    margin: 0px 0.5rem;
  }

  header a{
    font-size: 12px;
  }

  form{
    
  }

  input{
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
}

.filtro{
  display: none;
}

@media screen and (max-width: 600px) {
  
  header{
    justify-content: center;
  }

  .buscar-input {
    width: 45%;
    font-size: 8px;
  }

  .texto-a{
    display: inline-block;
    font-size: 10px;
    padding: 0 0.5rem;
  }

  .contenedor_productos{
    margin: 0 0 0 2rem;
  }

  .img-product{
    width: 100px;
    height: 100px;
  }

}

@media screen and (max-width: 370px){
  .texto-a{
    font-size: 7px;
  }
  
  .img-product{
    width: 50px;
    height: 50px;
  }
}
