@font-face {
  font-family: 'Airbnb';
  src: url('AirbnbCereal_W_Md.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Airbnb';
}

.contenedor_superior{
  position: sticky;
  top: 0;
}

/* LOGO VENTORY */

.container_img_logo{
  display: flex;
  justify-content: center;
}

.img_logo-container{
  width: 10%;
}

.img_logo-container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* GENERAL ESTILOS */

.header_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  background-color: #335f6f;

  padding: 0.5rem 1rem;
}

.buscar-input {
  padding: 0.5rem 1rem;
  width: 25%;
  
  border-radius: 15px;
  
  outline: none;
  border: none;

  text-align: center;
}

.buscar-input:focus{
  border-color: #2D5C74;
}

.entrar_inventario{
  display: flex;
  align-items: center;
  width: 50%;
}

.texto-a{
  text-decoration: none;
  color: white;
}

.texto_login{
  margin: 0 1rem;
}

.contenedor_gestion{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.5rem;
}

/* IMG MENU */

.img_container_configuracion{
  margin: 0 0.5rem;
  width: 5%;
  height: 100%;
}

.img_configuracion{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* CATEGORIAS */
.categorias_container{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #335f6f;
  padding-bottom: 0.5rem;
}

.ver_categorias{
  text-decoration: none;
  color: white;

  font-size: 1.2rem;
}

/* IMG SUPLYMAX */

.seccion_productos{
  display: flex;
  justify-content: center;
}

.contenedor_imagen_suplymax{
  display: flex;
  justify-content: center;
}

.contenedor_suplymax{
  width: 25%;
  height: 5%;
}

.texto_bienvenido{
  color: #2D5C74;
  text-align: center;
}

.img_suplymax{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* CARTA PRODUCTO */

.contenedor_productos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 6rem;
}

.producto_container{
  list-style: none;
}

.img-product{
  width: 150px;
  height: 150px;
  
  box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75) inset;
}

.img_producto{
  object-fit: contain;
  width:100%;
  height:100%;
}

.n_producto, .p_producto{
  color: black;
  font-size: 16px;
}

.c_producto, .d_producto, .d_producto{
  color: gray;
  font-size: 12px;  
}

.ver_mas{
  color: gray;
  text-decoration: none;
}

.ver_mas:hover{
  color: black;
  border-bottom: 1px solid black;
}

footer{
  position: fixed;
  bottom: 0;
  
  width: 100vw;
  
  text-align: center;
  color: white;
  
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);

  background-color: #335f6f;

  padding: 0.5rem 0;
}
.filtro{
  display: none;
}

@media only screen and (max-width: 800px) {
  .img_logo-container{
    width: 40%;
  }

  .buscar-input{
    width: 45%;
  }

  .texto-a{
    font-size: 0.8rem;
  }

  .ver_categorias{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 780px) {
  .buscar-input{
    width: 50%;
  }

  .contenedor_img_suplymax{
    display: inline-block;
    height: 20%;
  }

  .contenedor_suplymax{
    width: 70%;
    height: 5%;
  }

  .buscar-input{
    width: 95%;
  }

  .texto-a{
    font-size: 0.8rem;
  }

  .entrar_inventario_p{
    font-size: 0.8rem;
  }

  .img_container_configuracion{
    width: 10%;
  }
  
}
@media screen and (max-width: 305px){
  .texto_login{
    font-size: 13px;
  }
}
