@font-face {
  font-family: 'Airbnb';
  src: url('AirbnbCereal_W_Md.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Airbnb';
}


/* GENERAL ESTILOS */
header a{
  transition: 0.5s;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  color: gray;
}

header a:hover{
  color: black;
  transition: 0.5s;
  border-bottom: 1px solid black;
}

/* HEADER */
.cabezera-pegadisa{
  position: sticky;
  top: 0;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

header div {
  display: inline-block;
}

header ul li {
  margin: 0px 1rem;
  display: inline-block;
}

.ver_mas{
  color: gray;
  text-decoration: none;
}

.ver_mas:hover{
  color: black;
  border-bottom: 1px solid black;
}


form {
  transition: 0.5s;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  padding: 0.2rem 1rem;
  border: 1px solid gray;

  box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.75);
}

form:hover{
  transition: 0.5s;
  box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75);
}

input {
  padding: 0.5rem 3rem;
  border: none;
  outline: none;
}

/* LOGO SUPLYMAX */

.img_logo-container{
  list-style: none;
  width: 70px;
  height: 70px;
}

.img_logo-container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* CATEGORIAS */
aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

aside h2 {
  margin: 0 5px;
}

aside h2 a {
  transition: 0.5s;
  color: gray;
  text-decoration: none;
  font-size: 20px;
}

aside h2 a:hover{
  transition: 0.5s;
  color: black;
  border-bottom: 1px solid gray;
}

/* ASIDE REDES SOCIALES */

.aside_socialmedia{
  position: sticky;
  left: 0;
  top: 80;
  padding: 2rem 0rem;
  width: 3%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  justify-content: center;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

.aside_socialmedia a{
  text-decoration: none;
}

/* CARTA PRODUCTO */

.contenedor_productos{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 6rem;
}

.producto_container{
  list-style: none;
}

.img-product{
  border-radius: 1rem;
  width: 150px;
  height: 150px;
}

img{
  object-fit: contain;
  width:100%;
  height:100%;
}

.datos_producto{
}

.n_producto, .p_producto{
  color: black;
  font-size: 16px;
}

.c_producto, .d_producto, .d_producto{
  color: gray;
  font-size: 12px;  
}

footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 750px) {
  
  .img_logo-container{
    width: 30px;
    height: 30px;
  }
  
  header ul li{
    font-size: 12px;
    margin: 0px 0.5rem;
  }

  header a{
    font-size: 12px;
  }

  form{
    
  }

  input{
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
}

.filtro{
  display: none;
}