@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* parte superior */

.cotenedor_img-cabecera{
  display: flex;
  justify-content: center;

}

.contenedor_img{
  width: 25%;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* HEADER */

.cabecera{
  display: flex;
  justify-content: center;
  
  padding: 1rem 0;

  background-color: #335f6f;
}

.texto_a{
  text-decoration: none;
  color: white;

  margin: 0 0.5rem;

  text-align: center;
}


/* IMAGENES CATEGOIRAS */

.contenedor_img_categoria{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_categoria1{
  width: 10%;
  height: 100%;
  object-fit: contain;
}

.img_categoria2{
  width: 10%;
  height: 100%;
}

.img_categoria3{
  width: 10%;
  height: 100%;
}
/* SECCION PRODUCTOS */
.seccion_productos{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.contenedor_productos{
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.contenedor_producto{
  margin: 1rem 1rem;

  width: 25%;
}

/* PRODUCTOS */

.img_producto{
  height: 85%;
  display: flex;
  justify-content: center;
}

img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

h2{
  font-size: 16px;
}

.info_producto{
  text-align: left;
}

.info_producto a{
  font-size: 12px;
  color: #335f6f;
}

.info_producto a:hover{
  color: black;
  border-bottom: 1px solid black;
} 

.btn_del{
  margin-left: .6rem;
}

@media screen and (max-width: 600px){

  /* .contenedor_img{
    width: 35%;
  } */

  .texto_a{
    font-size: 0.8rem;
  }

  .img_categoria1{
    width: 18%;
    height: 100%;
    object-fit: contain;
  }
  
  .img_categoria2{
    width: 20%;
    height: 100%;
  }
  
  .img_categoria3{
    width: 22%;
    height: 100%;
  }

  .contenedor_producto{
    width: 60%;
  }

  .img_producto{
    height: 60%;
  }
}

@media screen and (max-width: 420px){
  
  .texto_a{
    font-size: 9px;
  }
}
