@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

header li{
  margin: 0 0.5rem;
  display: inline-block;
}

header li a{
  color: gray;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  /* border-radius: 20px; */
}

header li a:hover{
  color: black;
  transition: 0.3s;
  border-bottom: 1px solid black;
}

/* SECCION PRODUCTOS */
.seccion_productos{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.contenedor_productos{
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.contenedor_producto{
  margin: 1rem 0 0 1rem;
}

/* PRODUCTOS */

.img_producto{
  width: 150px;
  height: 150px;
}

img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

h2{
  font-size: 16px;
}

.info_producto{
  text-align: left;
}

.info_producto a{
  font-size: 12px;
  color: gray;
}

.info_producto a:hover{
  color: black;
  border-bottom: 1px solid black;
}

.btn_del{
  margin-left: .6rem;
}

@media screen and (max-width: 600px){
  .a-text{
    padding: 0 0.2rem;
    font-size: 12px;
  }
}
