@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* HEADER */

header {
  padding: 1rem 0;
  display: flex;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

ul {
  margin: 0 2rem;
}

li {
  display: inline-block;
}

header ul li a {
  margin: 0 2rem;
  padding: 0.5rem 1rem;

  text-decoration: none;
  color: gray;
}

header ul li a:hover {
  color: black;
  border-bottom: 1px solid black;
}

/* MESSAGE */

.message{
    text-align: center;
    color: red;
}

/* INICIO */
h1 {
  margin: 2rem 0;
  text-align: center;
}

/* FORM */

.form_container {
  
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.input_container {
  border-radius: 10px;
  outline: 1px solid gray;
  padding: 0.5rem 0.5rem;
}

input {
  margin: 0;
  font-size: 2rem;
  border: none;
  outline: none;
}

.border {
  border-bottom: 1px solid gray;
}

button {
  border: none;
  outline: none;
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 24px;
  color: gray;

  margin-top: 2rem;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

button:hover{
    color: black;
    
}