@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* HEADER */

header {
  padding: 1rem 0;
  width: 100%;

  background-color: #335f6f;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

.contenedor_img_casa{
  display: flex;
  justify-content: start;
}

.a_img_casa{
  display: flex;
  align-items: center;
  width: 5%;
  margin: 0 1rem;

  text-decoration: none;
  color: white;
}

.img_casa{
  width: 100%;
  height: 100%;
  object-fit: contain;

  margin: 0 0.5rem;
}

.logo_contenedor{
  display: flex;
  justify-content: center;
}

.img_container{
  margin-top: 0.5rem;
  width: 40%;
}

.img_logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MESSAGE */

.message{
    text-align: center;
    color: red;
}

/* INICIO */
h1 {
  text-align: center;
  color: white;
}

.contenedor{
  display: flex;
  justify-content: center;
}

/* FORM */

.form_container {
  margin-top: 1rem;
}

.input_container{
  background-color: #335f6f;

  padding: 3rem 5rem;
}

input {
  border-radius: 10px;
  
  margin: 0.5rem 0;
  padding: 0.2rem 0.5rem;

  font-size: 2rem;
  
  border: none;
  outline: none;

  color: #335f6f;
}

.border {
  border-bottom: 1px solid gray;
}

button {
  border: none;
  outline: none;
  background-color: #335f6f;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-size: 24px;
  color: white;

  margin-top: 2rem;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

button:hover{
  color: black;
  background-color: #335f6f;
}

@media screen and (max-width: 500px){

  .input_container{
    padding: 1.5rem 2rem;
  }

  button{
    padding: 0.5rem 1.5rem;
  }

  header{
    width: 100%;
  }

  input{
    font-size: 1.2rem;
  }

  .a_img_casa{
    width: 5%;
  }
}

@media screen and (max-width: 320px){

  h1{
    font-size: 12px;
  }

  button{
    padding: 0.5rem 1rem;
    font-size: 14px;
  }

  header{
    width: 100%;
  }

  input{
    font-size: 0.8rem;
  }

  .a_img_casa{
    width: 25%;
  }
  
}

@media screen and (max-width: 350px){

  header{
    width: 100%;
  }

  input{
    font-size: 0.8rem;
  }

  .a_img_casa{
    width: 25%;
  }
}