@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* HEADER */

header {
  padding: 1rem 0;

  background-color: #335f6f;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

.contenedor_img{
  display: flex;
  justify-content: start;
  align-items: center;

  margin: 0 1rem;
}

.img_volver{
  width: 2%;
  height:100%;
  object-fit: contain;

  margin: 0 0.5rem;
}

/* BTN VOLVER */

.btn_volver {
  padding: 0.5rem 1rem;
  margin: 0 2rem;

  text-decoration: none;
  color: white;
}


/* MENSAJE */

.message{
  text-align: center;
  margin-top: 2rem;
}

/* FORMULARIO */

.contenedor_formulario {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

input {
  margin: 0 1rem;

  border: none;
  outline: none;

  color: white;

  padding: 1rem 2rem;
  border-radius: 20px;

  background-color: #335f6f;
}

input:focus {
  box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
}

select{
  border: none;
  outline: none;
  background-color: #335f6f;
  color: white;

  padding: 1rem 2rem;

  border-radius: 20px;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  
}

option{
  border: none;
  outline: none;
}

.btn-modificar{
  font-size: 32px;
  margin: 2rem 45%;

  border: none;
  outline: none;
  color: #335f6f;
  background-color: white;

  border-bottom: 1px solid black;

}

@media screen and (max-width: 600px){
  .contenedor_formulario {
    width: 80%;
    margin: 30% 25%;
    /* margin-top: 30%; */
  }

  input{
    margin: 0.5rem 0;
  }

  .btn-modificar{
    margin: 1rem 20%;

    border: none;
    outline: none;

    border-bottom: 1px solid black;

  }

  .img_volver{
    width: 5%;
    height:100%;
    object-fit: contain;
  
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 400px){
  .contenedor_formulario{
    margin: 30% 15%;
  }

  .btn-modificar{
    margin: 1rem 10%;
  }
}