* {
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* CLASE HEADER */

header {
  /* border-bottom: 1px solid gray; */
  padding: 1rem 0;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

.btn_volver {
  transition: 0.3s;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: gray;
  margin: 0rem 2rem;
}

.btn_volver:hover {
  transition: 0.3s;
  color: black;
  border-bottom: 1px solid black;
}

/* ESTILOS PRODUCTO */
.contenedor_principal{
  display: flex;
  justify-content: center;
}

.contenedor_producto{
  margin-top: 2%;

  width: 50%;
}


.img_product_container{
  margin-top: 2rem;

  height: 50%;
}

.img_product_container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.cat_producto {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.info_producto {
  margin-top: 2rem;

  border-radius: 5px;

  padding: 1rem 2rem;

  background-color: orange;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 600px) { 

}