@font-face {
    font-family: 'Airbnb';
    src: url('AirbnbCereal_W_Md.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Airbnb';
}

/* CABECERA */

.cabecera{
    display: flex;
    justify-content: center;
}

.img_contenedor{
    width: 45%;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.a_inicio{
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
}

.contenedor_texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #335f6f;

    padding: 0.5rem 1rem;
}

.texto_categorias{
    color: white;
}

.contenedor_img_casa{
    width: 10%;
    margin: 0 0.5rem;
}

.img_casa{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* PRINCIPAL */

.contenedor_categorias{
    display: flex;
    justify-content: center;

    margin-top: 2%;
}

.categoria{
    font-size: 150%;

    text-decoration: none;
    color: #335f6f;
}

footer{
    position: fixed;
    bottom: 0;
    
    width: 100vw;
    
    text-align: center;
    color: white;
    
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  
    background-color: #335f6f;
  
    padding: 0.5rem 0;
  }

@media screen and (max-width: 500px){
    .contenedor_texto{
        justify-content: center;
    }
    .contenedor_img_casa{
        width: 5%;
        margin: 0 0.5rem;
    }
}

@media screen and (max-width: 320px){
    .texto_categorias{
        font-size: 12px;
    }

    .categoria{
        font-size: 100%;
    }
}