@font-face {
  font-family: "Airbnb";
  src: url("AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* HEADER */

header {
  padding: 1rem 0;

  background-color: #335f6f;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}


/* ESTILOS ANCHOR */

.btn_container_superior {
  display: flex;
  justify-content: space-around;
}

.elemento_p{
  color: white;
}

a{
  text-decoration: none;
}

.texto-h2 {
  text-align: center;
  color: red;
  font-size: 1rem;
}

b{
  color: black;
}

.img_btn_container{
  display: flex;
  justify-content: center;
}

.img_btn_a{
  width: 24px;
  height: 5%;
  object-fit: contain;
}


/* ESTILOS CATEGORIAS */

.contenedor_logo{
  display: flex;
  justify-content: center;
}

.contenedor_img{
  display: flex;
  justify-content: center;

  width: 100%;
  height: 5%;
}

.img{
  width: 65%;
  height: 0%;
  object-fit: contain;
}


.categoria_container {
  background-color: #335f6f;

  padding: 0.5rem 0;
}

.btn_categoria{
  text-decoration: none;
  color: white;
}

.cat_name{
  text-align: center;
  color: white;
}

.contenedor_btn{
  display: flex;
}

.contenedor_img_botones{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_lapiz{
  width: 5%;
  height: 100%;
  object-fit: contain;
  margin: 0 0.2rem;
}

.img_borrar{
  width: 5%;
  height: 100%;
  object-fit: contain;
  margin: 0 0.2rem;
}
@media screen and (max-width: 600px) {
  .texto_p{
    font-size: 0.8rem;
  }

  .texto-h2{
    margin: 0.5rem;
    font-size: 0.5rem;
  }
}
