<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/agregarp.css') }}"  type= "text/css">
	<link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-xs.png')}}">
	<title>VENTORY | AGREGAR PRODUCTO</title>
</head>
<body>

	<div class="contenedor_ventory">
		<div class="contenedor_logo-ventory">
			<img src="{{url_for('static', filename='styles/logo-s-copy.png')}}" alt="" class="img">
		</div>
	</div>

	<header class="cabecera">
			<div class="flex">
				<a href="{{url_for('home')}}" class="texto-a iconos">
					<div class="contenedor_img_iconos">
						<p>Inicio</p>
						<img src=" {{url_for('static', filename='styles/icons/casa.png')}} " alt="" class="img_icono">
					</div>
				</a>
				<a href="{{url_for('inventario')}}" class="texto-a iconos">
					<div class="contenedor_img_iconos">
						<p>Volver</p>
						<img src=" {{url_for('static', filename='styles/icons/deshacer.png')}} " alt="" class="img_icono">
					</div>
				</a>
			</div>
	</header>
	{%if message%}
		<h1 class="message">{{message}}</h1>
	{%endif%}


<div class="contenedor_formulario">

	<form action="" method="POST" enctype="multipart/form-data" class="">
		<div class="inputs_container">
			<div>
				<label>Nombre</label>
				<input type="text" name="p_name" autocomplete="off" class="input">
			</div>
			
			<div>
				<label>Precio en $</label>
				<input type="text" name="p_price" autocomplete="off" class="input" >
			</div>
			
			<div>
				<label>Cantidad</label>
				<input type="text" name="p_quantity" autocomplete="off" class="input">
			</div>
			
			<div>
				<label>Descripcion</label>
				<input type="text" name="p_description" autocomplete="off" class="input">
			</div>
		</div>
		<br>
		<div class="send_info">
      		<div class="file-container">
				<input type="file" name="file" class="input_file">
			</div>
		  	<select type="text" name="_id" >
			  <option>Seleciona la categoria</option>
			  {% for x in find_cat %}
				  <option value={{x._id}}>{{x.cat_name}}</option>
			  {% endfor %}
		  	</select>
		  	<button type="submit" class="btn_agregar">Agregar</button>
    </div>
	</form>
</div>

</body>
</html>