<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ecategorias.css') }}"  type= "text/css">
    <link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-xs.png')}}">
    <title>VENTORY | AGREGAR CATEGORIA</title>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="{{url_for('categoriasAdmin')}}" class="btn_volver">
            <p class="btn_volver">Volver</p>
            <div class="contenedor_img_volver">
              <img src=" {{url_for('static', filename='styles/icons/deshacer.png')}} " alt="" class="img_volver">
            </div>
          </a>
        </li>
      </ul>
    </header>
    <div class="contenedor_logo">
      <div class="contenedor_img">
        <img src="{{url_for('static', filename='styles/logo-s-copy.png')}}" alt="" class="img">
      </div>
    </div>
    <h1 class="elemento_texto">Agregar categoria</h1>
    <h2 class="message">{{message}}</h2>

    <div class="contenedor_form">
      <form action="" method="POST">
        <label class="elemento_texto">Nombre de la categoria</label>
        <input type="text" name="cat_name" autocomplete="off" class="nombre_categoria"/>
        <input type="submit" value="Agregar" class="btn_agregar" />
      </form>
    </div>
  </body>
</html>
