<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/agregarp.css') }}"  type= "text/css">
	<link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-xs.png')}}">
	<title>VENTORY | AGREGAR PRODUCTO</title>
</head>
<body>

	<div class="contenedor_ventory">
		<div class="contenedor_logo-ventory">
			<img src="{{url_for('static', filename='styles/logo-s-copy.png')}}" alt="" class="img">
		</div>
	</div>

	<header class="cabecera">
			<div class="flex">
				<a href="{{url_for('home')}}" class="texto-a iconos">
					<div class="contenedor_img_iconos">
						<p>Inicio</p>
						<img src=" {{url_for('static', filename='styles/icons/casa.png')}} " alt="" class="img_icono">
					</div>
				</a>
				<a href="{{url_for('inventario')}}" class="texto-a iconos">
					<div class="contenedor_img_iconos">
						<p>Volver</p>
						<img src=" {{url_for('static', filename='styles/icons/deshacer.png')}} " alt="" class="img_icono">
					</div>
				</a>
			</div>
	</header>
	{%if message%}
		<h1 class="message">{{message}}</h1>
	{%endif%}


<div class="contenedor_formulario">

	<form action="" method="POST" enctype="multipart/form-data" class="">
		{{ form.csrf_token }}

		{% for error in form.p_name.errors %}
            <h2 class="text-danger">{{ error }}</h2>
        {% endfor %}
		{{ form.p_name.label }}
		<br>
		{{ form.p_name}}
		<br>
		{% for error in form.p_price.errors %}
            <h2 class="text-danger">{{ error }}</h2>
        {% endfor %}
		{{ form.p_price.label }}
		<br>
		{{ form.p_price}}
		<br>
		{% for error in form.p_quantity.errors %}
            <h2 class="text-danger">{{ error }}</h2>
        {% endfor %}
		{{ form.p_quantity.label }}
		<br>
		{{ form.p_quantity}}
		<br>
		{% for error in form.p_description.errors %}
            <h2 class="text-danger">{{ error }}</h2>
        {% endfor %}
		{{ form.p_description.label }}
		<br>
		{{ form.p_description}}
		<br>
		{% for error in form.category.errors %}
            <h2 class="text-danger">{{ error }}</h2>
        {% endfor %}
		<br>
		{{ form.category.label }} {{ form.category}}
		<br>
		{% for error in form.ImagenProducto.errors %}
            <h2 class="text-danger">{{ error }}</h2>
        {% endfor %}
		<br>
		{{ form.ImagenProducto}}
		<br>
		{{ form.submit}}
	</form>
</div>

</body>
</html>