<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tcategorias.css') }}"  type= "text/css">
    <link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-xs.png')}}">
    <title>VENTORY | CATEGORIAS</title>
  </head>
  <body>
    <header>
      <div class="btn_container">
        <a href="/" class="btn_header">Home</a>
        <a href="/add_category" class="btn_header">Agregar categoria</a>
      </div>
    </header>

    <h1>{{message}}</h1>
    <h2 class="texto-h2">Recuerda si eliminas una categoria se eliminaran los productos asociados a ella</h2>
    <ul class="categorias_container">
      {%for x in all_categorys%}
        <div class="categoria_container">
          <li class="cat_name">{{x.cat_name}}</li>
          <a href=/edit_category/{{x._id}} class="btn_categoria">Editar categoria</a>
          <a href=del_categoria/{{x._id}} class="btn_categoria">Eliminar categoria</a>
        </div>
      {%endfor%}
    </ul>
  </body>
</html>
