<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/editar_categorias.css') }}"  type= "text/css">
    <link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-xs.png')}}">
    <title>VENTORY | EDITAR CATEGORIA</title>
  </head>
  <body>
    <header class="cabecera">
      <div class="contenedor_botones">

        <a href=" {{url_for('home')}} " class="anchor_header">
          <div class="cotenedor_img_header">
            <p class="texto_p">Inicio</p>
            <img src=" {{url_for('static',filename='styles/icons/casa.png')}} " alt="" class="img_header">
          </div>
        </a>

        <a href="{{url_for('categoriasAdmin')}}" class="anchor_header">
          <div class="cotenedor_img_header">
            <p class="texto_p">Volver</p>
            <img src=" {{url_for('static',filename='styles/icons/deshacer.png')}} " alt="" class="img_header">
          </div>
        </a>

      </div>
    </header>

    <div class="contenedor_img_ventory">
      <img src=" {{url_for('static',filename='styles/logo-s-copy.png')}} " alt="" class="img_ventory">
    </div>

    <h2 class="texto_h2">Modificar Categoria</h2>

    <div class="contenedor_inferior">
      <h1 class="editar" style="text-align: center;">{{message}}</h1>
    <div class="contenedor_form">
      <form action="" method="POST">
        <input type="text" value="{{valid_cat.cat_name}}" name="cat_name" class="input"/>
        <input type="submit" value="Modificar" class="btn-modificar"/>
      </form>
    </div>
    </div>
  </body>
</html>
