<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="POST">
            {{ form.csrf_token() }}
            {{form.p_name.label}}
            {{form.p_name}}

            {{form.p_price.label}}
            {{form.p_price}}

            {{form.p_quantity.label}}
            {{form.p_quantity}}

            {{form.p_description.label}}
            {{form.p_description}}


            {{form.submit}}
        </form>

        {% for choices in form.choices %}
        <tr>
            <td>{{ choices }}</td>
            <td>{{ choices.label }}</td>
        </tr>
        {% endfor %}

        {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>