<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}"  type= "text/css">
	<link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-xs.png')}}">
	<title>VENTORY | CATALOGO</title>
</head>
<body>
<div class="contenedor_superior">
	<div class="container_img_logo">
		<div class="img_logo-container"><img src="{{url_for('static', filename='styles/logo-s-copy.png')}}" alt="logo"></div>
	</div>

	<header class="header_container">
		<input type="text" name="p_search" placeholder="Buscar producto" class="buscar-input" id="buscador" autocomplete="off">
		<div class="contenedor_gestion">

				{% if messageLogin %}
				
					<a href="/inventario" class="texto-a entrar_inventario">
						<div class="img_container_configuracion">
							<p class="entrar_inventario_p">Gestionar inventario</p>
							<img src="{{url_for('static',filename='styles/icons/menu.png')}}" alt="" class="img_configuracion">
						</div>
					</a>
				

				{% if messageLogin %}
					<a href="/logout" class="texto-a">Cerrar Sesion</a>
				{%endif%}
		</div>
	</header>

<div class="categorias_container">
	{% else %}
		<a href="/login" class="texto-a texto_login">
			Login
		</a>
	{%endif%}
	<a href="{{url_for('categorias')}}" class="ver_categorias">Categorias</a>
</div>
</div>
<div class="seccion_productos">
	<div>
		<div class="contenedor_imagen_suplymax">
			
			<div class="contenedor_suplymax">
				<p class="texto_bienvenido">Bienvenido al catalogo <br>Tasa BCV Hoy({{bcv}})</p>
				<img src="{{url_for('static',filename='styles/logo-s-copy.png')}}" alt="" class="img_suplymax">
			</div>
		</div>
		<h2 class="products_quantity">Cantidad de productos disponibles: ({{quantity}}) </h2>
		<ul class="contenedor_productos">
			{% for p in alls_products %}
				<li class="producto_container" id="producto">
					<div class="img-product">
						<img src="https://res.cloudinary.com/degdcver8/image/upload/v1693325885/{{p.file_name}}.png" alt="{{p.file_name}}" class="img_producto">
					</div>
					<div class="datos_producto">
						<h2 class="n_producto" >{{p.p_name}}</h2>
						<h2 class="p_producto">${{p.p_price}}<br> BS {{p.priceVes}} </h2>
						<a href=product/{{p._id}} class="ver_mas">Ver mas</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
<footer>@VENTORY 2023</footer>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>