<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/inventario.css') }}"  type= "text/css">
    <link rel="shortcut icon" href=" {{url_for('static', filename='styles/logo-xs.png')}} ">
    <title>VENTORY | INVENTARIO</title>
</head>
<body>
    <div class="cotenedor_img-cabecera">
        <div class="contenedor_img"><img src="{{url_for('static', filename='styles/logo-s-copy.png')}}" alt="" class="img"></div>
    </div>
    <header class="cabecera">
            <a href="{{url_for('home')}}" class="texto_a">
                Inicio
                <div class="contenedor_img_categoria">
                    <img src=" {{url_for('static', filename='styles/icons/casa.png')}} " alt="" class="img_categoria1">
                </div>
            </a>
            <a href="{{url_for('add_product')}}" class="texto_a">
                Agregar producto
                <div class="contenedor_img_categoria">
                    <img src=" {{url_for('static', filename='styles/icons/anadir.png')}} " alt="" class="img_categoria2">
                </div>
            </a>
            <a href="{{url_for('categoriasAdmin')}}" class="texto_a">
                Ver categorias
                <div class="contenedor_img_categoria">
                    <img src=" {{url_for('static', filename='styles/icons/ojo.png')}} " alt="" class="img_categoria3">
                </div>
            </a>
            
    </header>
    {%if message%}
        <h1>{{message}}</h1>
    {%endif%}
<div class="seccion_productos">
    <ul class="contenedor_productos">
        {% for x in p %}
            <li class="contenedor_producto">
                <div class="img_producto">
                    <img src="https://res.cloudinary.com/degdcver8/image/upload/v1693325885/{{x.file_name}}.png" alt="{{x.file_name}}">
                </div>

                <div class="info_producto">
                    <h2>{{x.p_name}}</h2>
                    <h2>{{x.p_price}}$</h2>
                    <h2>BS - {{x.priceVes}}</h2>
                    <a href=edit/{{x._id}}>MODIFICAR</a>
                    <a href=/del/{{x._id}} class="btn_del">ELIMINAR</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>