<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}"  type= "text/css">
    <title>Iniciar session</title>
</head>
<header>
    <ul>
		<li><a href="/">Inicio</a></li>
	</ul>
</header>
<body>
    <!-- form -->
    <h1>Bienvenido</h1>
    <h2 class="message">{{info}}</h2>
    <div class="form_container">
        <div class="form">
            <form action="/login" method="POST" class="">
                <div class="input_container">
                    <input type="text" name="username" autocomplete="off" placeholder="Nombre Usuario" class="border">
                    <br>
                    <input type="text" name="userpass" autocomplete="off" placeholder="Contraseña">
                </div>
                <button type="submit">Iniciar</button>
            </form>
        </div>
    </div>
</body>
</html>