@font-face {
  font-family: "Airbnb";
  src: url("styles/AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* HEADER */

header {
  padding: 1rem 0;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

ul li {
  display: inline-block;
}

/* BTN VOLVER */

.btn_volver {
  padding: 0.5rem 1rem;
  margin: 0 2rem;

  text-decoration: none;
  color: gray;
}

.btn_volver:hover {
  color: black;
  border-bottom: 1px solid black;
}

/* MESSAGE */

.message{
  text-align: center;
  margin-top: 2rem;
}

/* FOMULARIO */

.inputs_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 15%;
}

.input {
  margin: 1rem 1rem;

  border: none;
  outline: none;

  /* border: 1px solid gray; */
  padding: 1rem 2rem;
  border-radius: 20px;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

.input:focus {
  box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
}

.send_info {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}


.file-container{
  text-align: center;
  padding: 1rem 2rem;
  color: gray;
  margin: 0rem 1rem;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75); 
}

select{
  border: none;
  outline: none;
  background-color: white;
  padding: 0.5rem 2rem;
  margin: 0rem 1rem;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75); 
}

.btn_agregar{
  border: none;
  outline: none;
  background-color: white;

  padding: 0.5rem 2rem;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75); 
}


@media only screen and (max-width: 750px) {
  

  .contenedor_formulario{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .input{
    padding: 1rem 2rem;
    margin: 0.5rem;
  }

  .send_info{
    justify-content: center;
    flex-wrap: wrap;
  }

  .file-container{
    padding: 0.5rem 1rem;
    margin: 0 1rem;
  }

  select{
    margin-top: 1rem;
  }

  .btn_agregar{
    
    margin: 1rem 1rem;
  }
}