@font-face {
  font-family: "Airbnb";
  src: url("styles/AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Airbnb";
}

/* HEADER */

header {
  padding: 1rem 0;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

/* BTN VOLVER */

.btn_volver {
  padding: 0.5rem 1rem;
  margin: 0 2rem;

  text-decoration: none;
  color: gray;
}

.btn_volver:hover {
  color: black;
  border-bottom: 1px solid black;
}

/* MENSAJE */

.message{
  text-align: center;
  margin-top: 2rem;
}

/* FORMULARIO */

.contenedor_formulario {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

input {
  margin: 0 1rem;

  border: none;
  outline: none;

  /* border: 1px solid gray; */
  padding: 1rem 2rem;
  border-radius: 20px;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

input:focus {
  box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 12px -2px rgba(255, 0, 0, 1);
}

select{
  border: none;
  outline: none;
  background-color: white;

  padding: 1rem 2rem;

  border-radius: 20px;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  
}

option{
  border: none;
  outline: none;
}
