* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Airbnb";
}

@font-face {
  font-family: "Airbnb";
  src: url("styles/AirbnbCereal_W_Md.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* CLASE HEADER */

header {
  /* border-bottom: 1px solid gray; */
  padding: 1rem 0;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

/* ESTILOS BOTON VOLVER */
ul li {
  /* margin-top: 1rem; */
}

.btn_volver {
  transition: 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  margin: 0rem 2rem;
}

.btn_volver:hover {
  transition: 0.3s;
  background-color: gray;
}

/* ESTILOS PRODUCTO */

.contenedor_principal {
  display: flex;
  justify-content: center;
}

.img_product_container{
  width: 400px;
  height: 400px;
}

.img_product_container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.n_producto {
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.cat_producto {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.info_producto {
  /* border: 0.1rem solid gray; */
  border-radius: 5px;
  padding: 0.5rem 1rem;

  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}
